
/*
MAIN{
    background-color: pink;
}
HEADER,main,footer{
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  padding: 30px 20px 20px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

#personalinfo{
    color: beige;
    background-color: blanchedalmond;
}

#topics h3{
    color: red;
}



#git{
    position: fixed;
    right: 0;
    top: 100px;
    background-image: url(../images/github.png);
    height: 200px;
    width: 400px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
    */
    